{
  "presets": ["es2015"],
  "plugins":
  [
    "add-module-exports",
    ["module-alias",
      [
        { "src": "npm:typhonjs-escomplex-module/dist", "expose": "typhonjs-escomplex-module/src" }
      ]
    ]
  ]
}
